* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	background-color: #938371;
	height: 3rem;
	padding: 0.5rem;
}

li {
	display: inline;
	font-family: 'Noto Serif JP', sans-serif;
	padding-left: 2rem;
	padding-right: 2rem;
	font-size: 20px;
}

.brand {
	font-family: 'Playfair Display', sans-serif;
	font-size: 24px;
}

body {
	background-color: #5D6E6F;
}

#introduction {
	background-image: url(https://images.pexels.com/photos/5650049/pexels-photo-5650049.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 80% 50%;
	background-attachment: fixed;
	min-height: 70vh;
	position: relative;
}

div {
	padding-left: 60vw;
	padding-right: 10%;
}

div > h1 {
	display: inline;
	float: right;
	text-align: center;
	padding-top: 15vh;
	color: #5D6E6F;
	font-family: 'Playfair Display',sans-serif;
	font-weight: lighter;
	font-size: 4.5rem;
}

h1 ~ p {
	float: right;
	text-align: center;
	padding-right: 2rem;
	padding-bottom: 2rem;
	font-family: 'Noto Serif JP', sans-serif;
	color: #5D6E6F;
	font-weight: lighter;
	font-size: 1.5rem;
}

.btn-cta {
	background-color: #3E3734;
	opacity: 90%;
	text-transform: uppercase;
	float: right;
	border-radius: 50px;
	font-family: 'Noto Serif JP', sans-serif;
	font-size: 1rem;
	padding-right: 2rem;
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;

}

a:visited, a:link {
	text-decoration: none;
	color: white;
}

li > a:hover {
	color: #3E3734;
	text-decoration: blink;
}

div > a:hover {
	color: black;
	background-color: #5D6E6F;
}

section {
	font-family: 'Noto Serif JP',sans-serif;
	font-weight: 100;
	text-align: center;
	padding-top: 4.5rem;
	padding-bottom: 4rem;
	font-size: 28px;
	color: white;
}