* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	font-family: 'Barlow', sans-serif;
	padding-top: 10px;
	text-align: right;
}

.nav-bar, .nav {
	display: inline;
	list-style-type: none;
}

.nav-bar {
	padding-right: 5%;
}

.nav {
	padding-left: 15px;
}

.header-container {
	text-align: center;
	font-family: 'Mulish', monospace;
}

.read-news {
	padding-right: 5%;
	text-align: right;
	font-family: 'Barlow', sans-serif;
}

section h3 {
	font-family: 'Mulish', monospace;
	padding-top: 5px;
	padding-bottom: 5px;
}

a:link, a:visited {
	text-decoration: none;
}

.content {
	font-family: 'Barlow', sans-serif;
	padding-right: 5%;
	padding-left: 5%;
}

.author {
	padding-bottom: 10px;
}